/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  /* max-width: 100%;
  overflow-x: hidden; */
}

#ruleLabel {
  cursor: pointer;
}

.allgood {
  font-size: 20px;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}

.highlight {
  background-color: yellow;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.login-content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border-color: #0957a5;
  background: white;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #0957a5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #0957a5;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #0957a5;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.selected {
  color: #4a83bd;
  background: #fff;
}

.notselected {
  color: #ffff;
  background: #4a83bd;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #4a83bd;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: "\e260";
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

table.table-bordered {
  border: 1px solid #dcdcdc;
  margin-top: 20px;
}

table.table-bordered>thead>tr>th {
  border: 1px solid #dcdcdc;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid #dcdcdc;
}

ul#tableHeaders>li {
  border: 1px solid #4a83bd;
}

ul#tableHeaders>li a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* #content {
  width: 100%;
} */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}