<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Admin Dashboard</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />

  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Tables</h3>
      </div>

      <ul class="list-unstyled components" id="tableHeaders" style="height: 500px;overflow:hidden;overflow-y: scroll;">
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn navbar-btn">
              <i class="glyphicon glyphicon-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>

            <button type="button" id="logout" class="btn navbar-btn">
              <i class="glyphicon glyphicon-log-out"></i>
              <span>Logout</span>
            </button>

            <button type="button" id="userTransaction" class="btn navbar-btn">
              <i class="glyphicon glyphicon-user"></i>
              <span>User Transaction</span>
            </button>
            <button type="button" id="sanityTesting" class="btn navbar-btn">
              <i class="glyphicon glyphicon-new-window"></i>
              <span>Sanity Testing</span>
            </button>
            <button type="button" id="expertassign" class="btn navbar-btn">
              <i class="glyphicon glyphicon-new-window"></i>
              <span>Expert-Assign</span>
            </button>
          </div>
        </div>
      </nav>
      <div class="content-heading" style="padding:100px;color:black;">
        <h2>Mai Portal</h2>
        <p>Please select table</p>
      </div>
      <div id="mainTableContent" class="container" style="padding-left:30px;">

      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="modalTableName" class="modalTableName" />
          <input type="hidden" name="modalTableData" class="modalTableData" />
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

  <script src="https://johannburkard.de/resources/Johann/jquery.highlight-5.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
  </script>

  <script src="./js/scripts.js"></script>
</body>

</html>